{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "preprocess": false }],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "~": "./src",
          "@public": "./public"
        }
      }
    ]
  ]
}
