@font-face {
  font-family: DINNextW1G;
  src: url(/fonts/DINNextW1G.woff2) format("woff2"),
    url(/fonts/DINNextW1G.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: DINNextW05-Medium;
  src: url(/fonts/DINNextW05-Medium.woff2) format("woff2"),
    url(/fonts/DINNextW05-Medium.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: DINNextW05-Bold;
  src: url(/fonts/DINNextW05-Bold.woff2) format("woff2"),
    url(/fonts/DINNextW05-Bold.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: Tungsten-Bold;
  src: url(/fonts/Tungsten-Bold.woff2) format("woff2"),
    url(/fonts/Tungsten-Bold.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: Valorant;
  src: url(/fonts/Valorant.ttf) format("truetype");
  font-display: swap;
}
